@import url("https://fonts.googleapis.com/css?family=Monoton");

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
// Column generator
@mixin colmk($numRows, $margin) {
  width: ((100% - (($numRows - 1) * $margin)) / $numRows);

  &:nth-child(n) {
    margin-right: $margin;
    margin-bottom: $margin;
  }

  &:nth-child(#{$numRows}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

$btn_teal: #009688;
$btn_cyan: #00bcd4;

.mainStyle {
  background: rgb(54, 199, 219);
  background: linear-gradient(
    90deg,
    rgba(54, 199, 219, 1) 0%,
    rgba(82, 152, 55, 0.23433123249299714) 60%,
    rgba(163, 217, 224, 1) 85%
  );
  width: 800px;
  margin: 0 auto;
  padding: 30px;
}

html,
body {
  letter-spacing: 1px;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;

  color: #292a2a;
}
.header a {
  color: inherit;
  text-decoration: none;
}
.header .navContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 0;
  margin: 0 auto;
}
.logo {
  width: 430px;
  z-index: 1;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  transition: 0.3s all;

  padding: 0.6em;
  margin: 1em;
  position: fixed;

  border: solid 3px hsla(0, 95%, 35%, 1);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background: hsla(67, 95%, 95%, 1);

  .logo_text {
    font-size: 20px;
    font-style: italic;
    display: inline-block;
  }
}

.navToggle {
  display: block;
  background-color: transparent;
  border: none;
  height: 38px;
  width: 38px;
  padding: 8px 8px;
  margin: 15px;
  outline: none;
  cursor: pointer;
  z-index: 5;
}
.navToggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}
.navToggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.navToggle.open span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}
.navToggle span {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 4px;
  background-color: #32243c;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(1, 0.13, 0.35, 1.09);
}
.navToggle.open span {
  background: #333;
}

.navToggle span:last-child {
  margin-bottom: 0;
}
.wrapper {
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}
.mainNav {
  position: absolute;
  top: 0;
  right: 5px;
  width: 350px;

  padding: 55px 25px;
  margin: 0.5rem;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 0.25s ease;
  overflow-y: auto;
  z-index: 5;

  border: solid 4px hsla(0, 95%, 35%, 1);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background: hsla(67, 95%, 95%, 1);

  li {
    margin-bottom: 1rem;
  }
}
.mainNav.open {
  transform: translateX(0%);
}
.mainNav .mainNavLink {
  display: block;
  padding: 0.71875rem 0;
  text-transform: capitalize;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 0;
  width: 0;
  opacity: 0;
  transition: opacity 1s ease 0.1s;
}
.overlay.open {
  opacity: 3;
  width: 100%;
  height: 120%;
}

.rkmd-btn {
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);

  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
  }

  &.btn-teal {
    color: #fff;
    background-color: $btn_teal;
    &:hover {
      background-color: lighten($btn_teal, 8%);
    }
  }

  &.btn-cyan {
    color: #fff;
    background-color: $btn_cyan;
    &:hover {
      background-color: lighten($btn_cyan, 8%);
    }
  }

  &.disabled:not(.btn-flat),
  &[disabled]:not(.btn-flat) {
    background-color: #cdcdcd !important;
    &:hover {
      background-color: #cdcdcd !important;
    }
  }

  &.btn-flat {
    box-shadow: none !important;
    // background-color: transparent !important;
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
    &:hover {
      // background-color: #cecece !important;
      background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
      box-shadow: none !important;
    }

    &.disabled:hover,
    &[disabled]:hover {
      background-color: transparent !important;
    }
  }
}

.ripple-effect {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  z-index: 1;

  .ripple {
    display: block;
    position: absolute;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: scale(0);
    pointer-events: none;
  }

  &.ripple-teal {
    .ripple {
      background: rgba(0, 150, 136, 0.725) !important;
    }
  }

  .animated {
    animation: ripple 0.6s linear;
  }

  @include keyframes("ripple") {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }
}

.bodyText {
  margin: 15px;
  top: 70%;
  position: relative;
  color: black;
  font-size: 40px;

  &:before {
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px black;
    content: attr(data-text);
    left: -1px;
    top: 1px;
    @supports not (-webkit-text-stroke: 1px black) {
      z-index: -1;
      color: white;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }
}
